*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: rgb(131, 130, 163);
    width: 400px;
    height: 400px;
    border-radius: 40px;
    /* box-shadow: 5px 0 0 5px rgb(121, 120, 120, 0.2); */
}
input{
    margin-left: 60px;
    padding: 5px 20px;
}
h2{
    padding: 50px;
    padding-bottom: 30px;
    margin-left: 70px;
    color: turquoise;
}
button{
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    background-color: rgb(252, 252, 76);
}
ul{
    margin-left: 50px;
    list-style: none;
    padding: 10px 0px;
}
li{
    padding: 10px 0px;
    color: aqua;
}